<!DOCTYPE html>
<html class="no-js" lang="ru">
	<head>
		<meta charset="UTF-8" />
		<meta name="keywords" content="" />
		<meta name="description" content="" />
		<meta content="browserconfig.xml" name="msapplication-config" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Dom Ikea</title>
		<link href="img/favicon.ico" rel="icon" type="image/png" />
		<link href="img/favicon.png" rel="icon" type="image/png" />
		<link rel="apple-touch-icon" sizes="120x35" href="/img/apple-touch-icon.png" />
		<style>body{opacity: 0;}</style>
	</head>
	<body>
		<!--[if lt IE 10]>
		<p class="browsehappy"><br>Вы используете <strong>устаревший</strong> браузер. 
		Пожалуйста, <a href="http://browsehappy.com/">обновите его</a> для корректного 
		отображения сайтов.</p>
		<![endif]-->
		<div class="global-wrapper">
			<div class="wrapper-loader">
				<div class="logo-loader"></div>
				<div class="loader-content"></div>
				<div class="loader-text">Загрузка</div>
			</div>
			<div class="bg-overlay"></div>
			<header class="ui-header">
				<div class="container">
					<div class="main-head">
						<div class="hamburger hamburger--spring">
							<div class="hamburger-box">
								<div class="hamburger-inner"></div>
							</div>
						</div>
						<div class="head-logo">
							<a href=""><img data-src="img/static/logo.svg" alt="alt"></a>
						</div>
						<div class="head-catalog js_catalog tablet-large_visible">
							<a href=""><span class="ico-close"></span><span class="ico-catalog"></span>Каталог</a>
						</div>
						<div class="head-fixed_panel">
							<div class="head-fixed_panel-top">
								<div class="head_tablet-box">
									<div class="mobile-visible">
										<form action="#" class="search-form">
											<input type="text" class="search-form_input" placeholder="Поиск по сайту">
											<div class="search-form_wrapper-submit">
												<span class="ico-search"></span>
												<input type="submit" class="search-form_submit" value="">
											</div>
										</form>
									</div>
									<div class="head-catalog js_catalog-mobile">
										<a href=""><span class="ico-close"></span><span class="ico-catalog"></span>Каталог</a>
									</div>
									<ul class="head_top-menu">
										<li><a href="">Доставка и оплата</a></li>
										<li><a href="">Вопросы</a></li>
										<li><a href="">Контакты</a></li>
									</ul>
								</div>
								<div class="head-nav">
									<div class="back-list js_back-list">Назад</div>
									<ul class="head-menu">
										<li>
											<a href="">Мебель</a>
											<span class="mobile-menu_arrow-icon js_arrow-icon"></span>
											<ul class="head-submenu">
												<li class="back-list js_back-list_2">Назад</li>
												<li class="title">Каталог</li>
												<li><a href="">Все товары</a></li>
												<li><a href="">Диваны и углы</a></li>
												<li><a href="">Кресла и шезлонги</a></li>
												<li><a href="">Шкафы</a></li>
												<li><a href="">Комоды и контейнеры</a></li>
												<li><a href="">Кровати</a></li>
												<li><a href="">Столы и столы</a></li>
												<li><a href="">Стулья</a></li>
												<li><a href="">Мебель под ТВ</a></li>
												<li><a href="">Книжные шкафы и книжные полки</a></li>
												<li><a href="">Шкафы и витрины</a></li>
												<li><a href="">Мебельные гарнитуры</a></li>
												<li><a href="">Компьютерная и геймерская мебель</a></li>
												<li><a href="">Тележки для кухни и ванной комнаты</a></li>
												<li><a href="">Столы и барные стулья</a></li>
												<li><a href="">Мебель для кофейни</a></li>
												<li><a href="">Буфеты, буфеты и консоли</a></li>
												<li><a href="">Ширмы и перегородки</a></li>
												<li><a href="">Мебель для детей</a></li>
												<li><a href="">Мебель для младенцев</a></li>
												<li><a href="">Садовая мебель и балкон</a></li>
											</ul>
										</li>
										<li><a href="">Кровати и матрасы</a></li>
										<li><a href="">Хранение и организация</a></li>
										<li><a href="">Кухни и кухонные приборы</a></li>
										<li><a href="">Дети и младенцы</a></li>
										<li><a href="">Текстиль</a></li>
										<li><a href="">Украшения</a></li>
										<li><a href="">Освещение</a></li>
										<li><a href="">Оборудование ванной комнаты</a></li>
										<li><a href="">Ковры, коврики и полы</a></li>
										<li><a href="">Горшки и растения</a></li>
										<li><a href="">Стирка и уборка</a></li>
										<li><a href="">Домашнее улучшение</a></li>
										<li><a href="">Домашняя электроника</a></li>
										<li><a href="">Умный дом</a></li>
										<li><a href="">Продукты для сада и балкона</a></li>
										<li><a href="">Работа из дому</a></li>
									</ul>
								</div>
								<div class="mobile-visible">
									<a href="" class="head-user gray-btn"><span class="ico-user"></span>Войти в личный кабинет</a>
								</div>
							</div>
							<div class="head-fixed_panel-bottom">
								<div class="footer-contact">
									<a href="tel:+78008008080" class="footer_phone-number"><span class="ico-phone"></span>+7-800-800-80-80</a>
									<a href="mailto:mail@mail.com" class="footer-email"><span class="ico-email"></span>mail@mail.com</a>
								</div>
								<a href="#callback" data-toggle="modal" class="gray-btn callback-btn">Заказать звонок</a>
								<div class="footer_form-box">
									<div class="title">Подписывайтесь <span class="min">на наши новости</span></div>
									<form action="#" class="footer-form">
										<input type="text" class="form-footer_input requiredField callback-email" placeholder="Ваш mail">
										<input type="submit" class="form-footer_submit-btn main-btn js_form-submit" value="Подписаться">
									</form>
								</div>
								<ul class="social-network">
									<li><a href=""><span class="ico-inst"></span></a></li>
									<li><a href=""><span class="ico-fb"></span></a></li>
								</ul>
								<a href="" class="footer_terms-use">Пользовательское соглашение</a>
								<div class="copyright">Все права защищены. DOM IKEA</div>
								<a href="" class="footer-policy">Политика конфеденциальности</a> <br>
								<a href="" class="footer-studio"><img alt="alt" src="img/static/studio.svg"></a>
							</div>
						</div>
						<ul class="head_top-menu tablet-large_visible">
							<li><a href="">Доставка и оплата</a></li>
							<li><a href="">Вопросы</a></li>
							<li><a href="">Контакты</a></li>
						</ul>
						<form action="#" class="search-form mobile-hidden">
							<input type="text" class="search-form_input" placeholder="Поиск по сайту">
							<div class="search-form_wrapper-submit">
								<span class="ico-search"></span>
								<input type="submit" class="search-form_submit" value="">
							</div>
						</form>
						<a href="" class="head-user mobile-hidden"><span class="ico-user"></span></a>
						<a href="" class="head-fav"><span class="ico-fav"></span></a>
						<a href="" class="head-basket"><span class="ico-cart"></span><span class="head-basket_number">5</span></a>
					</div>
				</div>
			</header>
			<!-- END UI-HEADER -->
			<main class="main-content">
				<div class="personal-area_section">
					<div class="container">
						<ul class="breadcrumbs">
							<li><a href="">Главная</a></li>
							<li><a href="">Личный кабинет</a></li>
							<li>Смена пароля</li>
						</ul>
						<h1>Личный кабинет</h1>
						<div class="personal-area_content">
							<div class="row">
								<div class="col-lg-3">
									<ul class="personal-area_menu">
										<li >
											<div class="personal-area_item">
												<a href="">
													<span class="item-icon"><img data-src="img/icons/pa/01.svg" alt="alt"></span>Личные данные
												</a>
											</div>
										</li>
										<li>
											<div class="personal-area_item">
												<a href="">
													<span class="item-icon"><img data-src="img/icons/pa/02.svg" alt="alt"></span>Текущие заказы
												</a>
											</div>
										</li>
										<li>
											<div class="personal-area_item">
												<a href="">
													<span class="item-icon"><img data-src="img/icons/pa/03.svg" alt="alt"></span>История заказов
												</a>
											</div>
										</li>
										<li>
											<div class="personal-area_item active">
												<a href="">
													<span class="item-icon"><img data-src="img/icons/pa/04.svg" alt="alt"></span>Смена пароля
												</a>
											</div>
										</li>
									</ul>
								</div>
								<div class="col-lg-6">
									<span class="personal-area_subtitle">Смена пароля</span>
									<form action="#" class="password-form">
										<div class="form-group">
											<input type="text" class="form-control" value="GKJHHLKLJLKJ57987">
											<label class="form-label">Введите новый пароль</label>
											<span class="input_delete-text ico-close"></span>
										</div>
										<div class="form-group">
											<input type="text" class="form-control" value="GKJHHLKLJLKJ57987">
											<label class="form-label">Подтвердите пароль</label>
											<span class="input_delete-text ico-close"></span>
										</div>
										<div class="text-right">
											<input type="submit" class="password-form_submit-btn main-btn main-btn_mod" value="Сохранить">
										</div>
									</form>
								</div>
								<div class="col-lg-3 right-column">
									<a href="" class="main-btn main-btn_mod back-page_btn">Выйти из кабинета</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</main>
			<!-- end main-content -->
			<footer class="main-footer">
				<div class="container">
					<div class="main-footer_content">
						<div class="row">
							<div class="col-xl-6">
								<div class="main-footer_row">
									<div class="footer-logo"><a href=""><img data-src="img/static/logo.svg" alt="alt"></a></div>
									<ul class="footer-menu">
										<li><a href="">Каталог</a></li>
										<li><a href="">Доставка и оплата</a></li>
										<li><a href="">Вопросы</a></li>
										<li><a href="">Контакты</a></li>
									</ul>
								</div>
								<div class="main-footer_row">
									<div class="footer-contact">
										<a href="tel:+78008008080" class="footer_phone-number"><span class="ico-phone"></span>+7-800-800-80-80</a>
										<a href="mailto:mail@mail.com" class="footer-email"><span class="ico-email"></span>mail@mail.com</a>
									</div>
									<a href="#callback" data-toggle="modal" class="gray-btn callback-btn">Заказать звонок</a>
									<ul class="social-network mobile-hidden">
										<li><a href=""><span class="ico-inst"></span></a></li>
										<li><a href=""><span class="ico-fb"></span></a></li>
									</ul>
								</div>
							</div>
							<div class="col-xl-6">
								<div class="footer_form-box">
									<div class="title">Подписывайтесь <span class="min">на наши новости</span></div>
									<form action="#" class="footer-form">
										<input type="text" class="form-footer_input requiredField callback-email" placeholder="Ваш mail">
										<input type="submit" class="form-footer_submit-btn main-btn js_form-submit" value="Подписаться">
									</form>
								</div>
								<div class="mobile-visible">
									<ul class="social-network">
										<li><a href=""><span class="ico-inst"></span></a></li>
										<li><a href=""><span class="ico-fb"></span></a></li>
									</ul>
								</div>
								<div class="main-footer_row">
									<div class="left-column">
										<a href="" class="footer_terms-use">Пользовательское соглашение</a>
										<div class="copyright">Все права защищены. DOM IKEA</div>
									</div>
									<div class="right-column text-right">
										<a href="" class="footer-policy">Политика конфеденциальности</a> <br>
										<a href="" class="footer-studio"><img alt="alt" src="img/static/studio.svg"></a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<form action="#" class="search-form search-form_footer mobile-hidden">
						<input type="text" class="search-form_input" placeholder="Поиск по сайту">
						<div class="search-form_wrapper-submit">
							<span class="ico-search"></span>
							<input type="submit" class="search-form_submit" value="">
						</div>
					</form>
				</div>
			</footer>
			<!-- end main-footer -->
			<div class="scroll-to-top"></div>
		</div>
		<!-- END GLOBAL-WRAPPER -->
		<div aria-hidden="true" class="modal fade js-modal" id="callback" role="dialog">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<button class="close" data-dismiss="modal" type="button"><span class="ico-close"></span></button>
					<div class="section-title">Заказать звонок</div>
					<form action="#" class="callback-form">
						<div class="form-group">
							<input type="text" class="form-control requiredField callback-name">
							<label class="form-label">Ваше имя*</label>	
						</div>
						<div class="form-group">
							<label class="form-label">Телефон*</label>
							<input type="tel" class="form-control requiredField callback-phone">
						</div>
						<input type="submit" class="popup-form_submit main-btn js_form-submit" value="Заказать звонок">
						<div class="form-policy">
							Нажимая на кнопку “Заказать звонок” вы даете согласие на <a href="">обработку персональных данных</a>. 
						</div>
					</form>
				</div>
			</div>
		</div>
		<!-- end callback -->
		<div aria-hidden="true" class="modal fade js-modal"  role="dialog" id="application-accepted">
    	<div class="modal-dialog modal-dialog_mod modal-dialog-centered" role="document">
	      <div class="modal-content">
	      	<button class="close" data-dismiss="modal" type="button"><span class="ico-close"></span></button>
	      	<div class="popup-icon"><img data-src="img/icons/ico-check.svg" alt=""></div>	
	      	<p class="modal-text">Ваша заявка успешно отправлена!</p>
			 	</div>
			</div>
		</div>
		<!-- end application-accepted -->
		<link href="css/min.css" rel="stylesheet" />
		<link href="css/main.css" rel="stylesheet" />
		<script src="js/min.js"></script>
		<script src="js/main.js"></script>
	</body>
</html>
